# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Build / cache
dist/
build/
.eggs/
*.egg-info/

# Media / uploads (clave para tu prueba)
media/
uploads/
static/uploads/

# Tests cache
.pytest_cache/